
.hidden {
    display: none;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: "EB Garamond", serif;
}

h2 {
    border-bottom: 2px solid blue;
}

p {
    font-family: "Arimo", sans-serif;
    font-size: 0.8rem;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
}

a:hover {
    color: #02bdd5;
}

.initial-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 3.5rem;
}

.newsapi, .youtubeapi, .no-news-container, .error-message {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

.newsapi {
    padding-top: 0px;
}

.article-selection {
    margin-bottom: 0.5rem;
}

select {
    margin-left: 0.5rem;
}

input {
    margin: 0.5rem;
}

.source-container {
    margin-top: 4rem;
}

.article-list img {
    float: right;
    display: block;
    max-width: 45%;
    margin: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.article-list {
    overflow: auto;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.5rem;
}

.article-list:last-of-type {
    border-bottom: none;
}

li {
    text-align: left;
}

ul {
    padding-inline-start: 0px;
}

/* label {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

select {
    display: inline-block;
    width: 49%;
    vertical-align: top;

} */

.article-selection-container {
    font-size: 13px;
}

nav li {
    display: inline-block;
}

nav {
    top: 0;
    position: fixed;
    background-color: #272833;
    width: 100%;
    color: white;
}

nav li a {
    color: white;
    font-size: 1rem;
    display: inline-block;
    margin-right: 1rem;
    font-weight: 100;
}

.fas {
    margin-right: 3px;
}

.contact-item {
    display: inline-block;
    padding-right: 0.8rem;
    margin: 0 auto;
}

.contact-item a {
    color: white;
}

.mail {
    padding-left: 0.9rem;
}

.copyright {
    text-align: center;
}

.copyright p {
    font-size: 0.7rem;
}

footer {
    text-align :center;
    width: 100%;
    background-color: #272833;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    line-height: 0.6rem;
}

footer ul {
    margin-block-start: 0em;
    margin-block-end: 0rem;
}

/* .header-image {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5)), url('./website-images/newspaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* padding: 3rem 1rem; */
    /* background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(16, 15, 15, 0.221); */
    /* filter: blur(1.4px);
    -webkit-filter: blur(1.4px);
    height: 400px; */

/* .header-image {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5)), url('./website-images/newspaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



.header-text {
    font-size: 3rem;
    color: black;
    font-weight: 900;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
    height: 400px
} */

header {
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0, 0, 0, 0.6)), url('./website-images/newspaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    letter-spacing: 0.5rem;
    border-bottom: 2px solid blue;
}




.descript-container {
    padding: 1rem;
}


.search-button {
    margin-top: 1.2rem;
    /* margin-bottom: 1.2rem; */
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* background-color: rgba(16, 15, 15, 0.221); */
    /* width: 80%;
    border-radius: 0.8rem;
    margin: 0 auto; */
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
}


.graph{
    margin-top: 4rem;
}

.graph h2 {
    border-bottom: none;
    padding-top: 1rem;
}



/* media query notes
as page increases, make input box bigger 




*/