.article-image {
    width: 200px;
}

.hidden {
    display: none;
}

/* .articles, #youtube-list {
    height: 200px;
    overflow-y: auto;
    display: block;
} */

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: "EB Garamond", serif;
}

h2 {
    border-bottom: 2px solid blue;
}

p {
    font-family: "Arimo", sans-serif;
    font-size: 0.8rem;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
}

a:hover {
    color: #02bdd5;
}

.initial-container {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

.newsapi, .youtubeapi, .no-news-container, .error-message {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

.newsapi {
    padding-top: 0px;
}

.article-selection {
    margin-bottom: 0.5rem;
}

select {
    margin-left: 0.5rem;
}

input {
    margin: 0.5rem;
}

.source-container {
    margin-top: 4rem;
}

.article-list img {
    float: right;
    display: block;
    max-width: 45%;
    margin: 0.5rem;
}

.article-list {
    overflow: auto;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0.5rem;
}

.article-list:last-of-type {
    border-bottom: none;
}

li {
    text-align: left;
}

ul {
    padding-inline-start: 0px;
}



/* media query notes
as page increases, make input box bigger 




*/